 <div class="container"> 
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" ><a href="/">Restaurants</a></li>
      <li role="presentation" ><a href="/restaurants/feeds">Feeds</a></li>
      <li role="presentation" class="active"><a href="/restaurants/ranking">Top 10</a></li>
      <li role="presentation"><a href="/users">Users</a></li>      
    </ul>
  </div>
  <br>
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Neweset restaurants</h3>
      </div>
      <div class="panel-body">
        <% @top_restaurants.each do |restaurant| %>
          <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
          <p><%= restaurant.category.name %></p>
          <p><%= restaurant.description %></p>
          <p> 收藏人數：<%= restaurant.favorites.count %></p>
          <hr>
        <% end %>
      </div>
     </div>   
</div>  